body, html {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "Muli", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  background-color: #fff;
  color: #80819D; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.img-responsive {
  display: block;
  width: 100%;
  height: auto; }

.no-padding {
  padding: 0; }

.center {
  text-align: center; }

.s-about-me-content {
  padding: 60px 50px; }
  .s-about-me-content__title, .s-about-me-content__sub-title {
    font-family: "Trirong", sans-serif;
    font-size: 46px;
    font-weight: 400;
    color: #2B2D5C;
    text-align: center;
    margin: 0 0 50px; }
  .s-about-me-content__sub-title {
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 30px; }
  .s-about-me-content .btn {
    margin-top: 50px; }

.what-do-grid {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 0 -25px 15px -25px; }
  .what-do-grid__item {
    width: calc(100% / 4);
    margin-top: 20px;
    padding: 0 25px; }
  .what-do-grid__title {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px; }

.my-photo {
  background: #2B2D5C url(../images/myPhoto.jpg) center center/cover no-repeat;
  min-height: 90vh; }

.portfolio-card {
  overflow: hidden;
  position: relative; }
  .portfolio-card:hover .portfolio-card__cover {
    opacity: 1; }
  .portfolio-card__cover {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 45, 92, 0.8) url(../images/plus.svg) center center/60px 60px no-repeat;
    opacity: 0;
    transition: .25s all ease;
    padding: 20px 0; }
  .portfolio-card__link {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .portfolio-card__title {
    align-self: center;
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid #F2C200;
    padding: 0 15px; }

.justified-gallery > .entry-visible > img,
.justified-gallery > .entry-visible > a > img {
  transition: .4s filter ease, .4s transform ease, opacity 500ms ease-in; }

.s-blog-content {
  padding: 10px; }

.blog-grid {
  display: flex;
  flex-flow: row wrap; }

.blog-card {
  display: flex;
  flex-flow: column wrap;
  width: calc(100% / 3);
  flex: 1 1 300px;
  margin: 10px;
  background-color: #fff; }
  .blog-card__container {
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
    padding: 15px; }
  .blog-card__title {
    margin: 0;
    font-size: 18px;
    color: #2B2D5C;
    text-transform: uppercase;
    font-weight: 400; }
  .blog-card__description {
    flex-grow: 1; }
  .blog-card__meta {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 10px; }
  .blog-card__link {
    position: relative;
    color: #2B2D5C;
    font-weight: 600;
    font-size: 16px;
    padding: 0 15px 0 0;
    align-self: flex-start; }
    .blog-card__link:hover:before {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      width: 100%;
      height: 10px;
      background-color: #F2C200;
      opacity: .5; }

.blog-category-list {
  margin: 0;
  padding: 0; }
  .blog-category-list__item {
    display: inline-block;
    list-style-type: none; }

.s-form {
  padding: 100px; }

.form__group {
  margin-bottom: 30px; }

.form__control {
  width: 100%;
  border-radius: 50px;
  border: 1px solid #95989A;
  padding: 15px;
  text-align: center;
  resize: none;
  outline: none; }
  .form__control::placeholder {
    color: #c7c7c7; }

.form__btn {
  padding: 17px 30px;
  border-radius: 100px;
  text-transform: uppercase;
  line-height: 1;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: transparent;
  outline: none; }
  .form__btn--accent-1 {
    float: right;
    width: 30%;
    border: 2px solid #2B2D5C;
    color: #2B2D5C; }
  .form__btn--accent-2 {
    float: left;
    width: 65%;
    border: 2px solid #F2C200;
    color: #F2C200; }

/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .s-about-me-content {
    padding: 80px; }
  .what-do-grid__item {
    width: calc(100% / 4); } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .s-about-me-content {
    padding: 30px; }
  .s-sidebar {
    padding: 30px; }
  .s-content {
    padding: 30px; }
  .s-form {
    padding: 30px; }
  .form__btn {
    display: block; }
    .form__btn--accent-1 {
      float: none;
      width: 100%; }
    .form__btn--accent-2 {
      float: none;
      width: 100%;
      margin-bottom: 30px; }
  .what-do-grid__item {
    width: calc(100% / 2); } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .s-home {
    padding: 0 20px; }
  .top-line {
    padding: 15px 20px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }
