body, html {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "Muli";
  font-weight: normal;
  overflow-x: hidden;
  background-color: #fff;
  color: #80819D; }

.img-responsive {
  display: block;
  width: 100%;
  height: auto; }

.no-padding {
  padding: 0; }

.s-about-me {
  background-color: #F7F7FC; }

.s-about-me-content {
  padding: 60px 140px; }
  .s-about-me-content__title, .s-about-me-content__sub-title {
    font-family: "Trirong", sans-serif;
    font-size: 46px;
    font-weight: 400;
    color: #2B2D5C;
    margin: 0; }
  .s-about-me-content__sub-title {
    font-size: 28px;
    margin: 30px 0; }

.my-photo {
  background: #2B2D5C url(../images/myPhoto.jpg) center center/cover no-repeat; }

/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .s-about-me-content {
    padding: 80px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .s-about-me-content {
    padding: 30px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .s-home {
    padding: 0 20px; }
  .top-line {
    padding: 15px 20px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }
