body, html {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  background-color: #fff;
  color: #80819D; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.img-responsive {
  display: block;
  width: 100%;
  height: auto; }

.no-padding {
  padding: 0; }

.center {
  text-align: center; }

.s-home {
  background: #2B2D5C url(../images/partfolioBG.jpg) right bottom/cover no-repeat; }

.portfolio-card {
  overflow: hidden;
  position: relative; }
  .portfolio-card:hover .portfolio-card__cover {
    opacity: 1; }
  .portfolio-card__cover {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 45, 92, 0.8) url(../images/plus.svg) center center/60px 60px no-repeat;
    opacity: 0;
    transition: .25s all ease;
    padding: 20px 0; }
  .portfolio-card__link {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .portfolio-card__title {
    align-self: center;
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid #F2C200;
    padding: 0 15px; }

.justified-gallery > .entry-visible > img,
.justified-gallery > .entry-visible > a > img {
  transition: .4s filter ease, .4s transform ease, opacity 500ms ease-in; }

/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .s-about-me-content {
    padding: 80px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .s-about-me-content {
    padding: 30px; }
  .s-sidebar {
    padding: 30px; }
  .s-content {
    padding: 30px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .s-home {
    padding: 0 20px; }
  .top-line {
    padding: 15px 20px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }
